<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.jsdelivr.com/package/npm/mock-js"></script>
    <!-- http://mockjs.com/dist/mock.js -->
</head>
<body class="CSBody">
    <div id="App">
        <table width="100%">
            <tr>
                <td width="15em;">
                    <ul>
                        <li v-for="(item,key) in list"><a href="#" @click="exec(item)"> {{key}}</a></li>
                    </ul>
                </td>
                <td>
                    <textarea style="width:100%"  rows="30em" v-model="result">

                    </textarea>
                    
                </td>
            </tr>
        </table>
    </div>
    
    <script>
        var test = {
            A01() {
                var x = Mock.mock({
                    'number1|1-100.1-10': 1,
                    'number2|123.1-10': 1,
                    'number3|123.3': 1,
                    'number4|123.10': 1.123
                })
                return x;
            },
            A02() {
                return Mock.mock({
                    'arr|10': [
                        '@TITLE'
                    ]
                })
            },
            A021() {
                return Mock.mock({
                    'arr|10': [
                        '@integer(60, 100)'
                    ]
                })
            },
            A022(){
                var _op = {};
                _op[`arr|${10}`] = ['@integer(60, 100)']
                return Mock.mock(_op)
            },
            A03() {
                return [{a:1}, ...Mock.mock({
                    'data|1-5': [{
                        p: '@string'
                    }]
                }).data]
            },
            A031() {
                return Mock.mock({
                    'data|1-5': [{
                        p: '@string'
                    }]
                });
            },
            A032() {
                return Mock.mock({
                    'data|5': [{
                        id: '@id',
                        name:'@name',
                        mail: '@EMAIL',
                    }]
                });
            }
        }
        
        new Vue({
            el: "#App",
            data() {
                return {
                    list: test,
                    result:'test'
                }
            },
            methods: {
                exec(fn) {
                    this.result = JSON.stringify(fn(), undefined, 4);
                }
            }
        })
    </script>
</body>
</html>